@model stelleracunakademiportfolio.Models.tbl_testimanional
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Testimonial Ekleme</h2>

<form method="post">
    <label>Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>İsim Soyisim</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Resim</label>
    @Html.TextBoxFor(x => x.image, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>

</form>

